/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #171717;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row-header {
  display: flex;
  padding: 3ch;
}

.row-header .logo {
  display: flex;
}

.row-header .logo-text
{
  color: #f9f8dc;
  font-size:4ch;
  font-family: 'Do Hyeon', sans-serif;
  padding-top: 10px;
}

.row-header .header-buttons {
  display: flex;
  align-items: flex-start;
  padding-top: 4ch;
  margin-left: auto;
}

.row-header .header-buttons .header-button {
  background: transparent;
  border: none;
  margin: 10px;
  display: block;
  font-size: 20px;
  outline: none;
  color: #f9f8dc;
  position: relative;
  transition: 0.3s;
  font-family: 'Sofia Sans Condensed', sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.row-header .header-buttons .header-button:before{
content: '';
border-bottom: 1px solid #f9f8dc;
padding: 0 10px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
width: 0;
transition: 0.3s;
color: #f9f8dc
}

.row-header .header-buttons .header-button:hover:before
{
width: 100%;
padding: 0;
}

.row-header .social-buttons{
  display: flex;
  align-items: flex-start;
  padding-top: 5.1ch;
}

.row-header .social-buttons .social-button
{
background: transparent;
border: none;
cursor: pointer;
}

.box .row-content {
  flex: 1 1 auto;
  color: #f9f8dc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
}

.box .row-footer {
  flex: 0 1 40px;
  color: #f9f8dc;
  margin-left: 10px;
}
