html,
body {
  height: 100%;
  margin: 0;
  background-color: #171717;
}

hr {
  color: #f9f8dc;
  background-color: f9f8dc;
  border-color : #f9f8dc;
  margin-left : 5%;
  margin-right : 5%;
}

h1 {
  color: #f9f8dc;
  background-color: f9f8dc;
  border-color : #f9f8dc;
  margin-left : 5%;
  margin-right : 5%;
}

h1.shop {
  margin-top: 15%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row-header {
  display: flex;
  padding: 3ch;
}

.row-header .logo {
  display: flex;
}

.row-header .logo-text
{
  color: #f9f8dc;
  font-size:4ch;
  font-family: 'Do Hyeon', sans-serif;
  padding-top: 10px;
}

.row-header .header-buttons {
  display: flex;
  align-items: flex-start;
  padding-top: 4ch;
  margin-left: auto;
}

.row-header .header-buttons .header-button {
  background: transparent;
  border: none;
  margin: 10px;
  display: block;
  font-size: 20px;
  outline: none;
  color: #f9f8dc;
  position: relative;
  transition: 0.3s;
  font-family: 'Sofia Sans Condensed', sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.row-header .header-buttons .header-button:before{
content: '';
border-bottom: 1px solid #f9f8dc;
padding: 0 10px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
width: 0;
transition: 0.3s;
color: #f9f8dc
}

.row-header .header-buttons .header-button:hover:before
{
width: 100%;
padding: 0;
}

.row-header .social-buttons{
  display: flex;
  align-items: flex-start;
  padding-top: 5.1ch;
}

.row-header .social-buttons .social-button
{
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  margin-left: 10px;
}

.row-header .social-buttons .social-button:hover
{
  opacity:0.5;
}

.box .row-content {
  flex: 1 1 auto;
  color: #f9f8dc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  font-size: 25px;
}

.offering {
  display: flex;
  justify-content: center;
}

.buy-button {
  background-color: coral;
  color:#f9f8dc;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 25px;
  padding: 3%;
  cursor: pointer;
}

.buy-button:hover{
  background-color: rgba(255, 127, 80, 0.596);
}

.email-div {
  margin: 15%;
}

.email-input {
  background-color: #f9f8dc;
  color:lightslategrey;
  padding: 10%;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  width: 130%;
  border: 0;
}

.email-input:focus {
  outline: none;
}

.email-button {
  background-color: coral;
  color:#f9f8dc;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 10%;
  cursor: pointer;
}

.email-button:hover{
  background-color: rgba(255, 127, 80, 0.596);
}

.box .row-footer {
  display: flex;
  color: #f9f8dc;
  margin-left: 10px;
}

.row-footer .social-buttons{
  display: flex;
  margin-top: 5.1ch;
  margin-bottom: 5ch;
  margin-left: 15%;
}

.row-footer .social-buttons .social-button
{
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  margin-right: 10px;
}

.row-footer .social-buttons .social-button:hover{
  opacity: 0.5;
}

.saying {
  justify-content: right;
  color:#f9f8dc;
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 20px;
  margin-top: 5.1ch;
  margin-bottom: 5ch;
  margin-left: auto;
  margin-right: 15%;
}
